/*
.dropdown-help {display:none !important; visibility:hidden !important; border: 1px #000 solid}
*/
.navbar-default	{
	background-image:url("/files/red-background.jpg");
	background-repeat: repeat;
	background-position: center;
	background-color:purple;
	border-color:purple;
	background-size: 20%;
}
body[data-route=""] .navbar-default{
	background-color:purple;
	border-color:purple;
}
body {
	background-image:url("/files/witewall_3.png");
	background-repeat: repeat;
	background-color: #fff;
}
@media (min-width: 1280px) {
  .container {
    width: 1270px;
  }
	.modal-dialog{
		width:800px
	}
}
.awesomplete > ul > li:hover, .awesomplete > ul > li[aria-selected="true"] {
    background-color: #e2edf5;
    color: #36414C;
    text-shadow: none;
}
.content	{
	background-color:#f4f6f8;
}
.layout-side-section {
    padding: 0px 10px;
    background-color: #fff;
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
		margin: 0 -3px 0 3px
}
.layout-main-section{
	background:#FFF;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.form-footer {
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	background: #FFF;

}
.pos-bill-wrapper, .pos-items-section, .frappe-list-area, .form-layout {
	background-color: #fff;
}
.navbar-form {
	/*display: none;*/
}
#navbar-breadcrumbs > li > a::before{
	color:#fff;
}
#navbar-breadcrumbs > li > a:hover{
	color:#fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #fff;
}
.indicator.red{
	color: red
}
.indicator.blue{
	color: blue
}
.indicator.green{
	color: green
}
.indicator.orange{
	color: orange
}
a.module-link.active i.pull-right {
	display:block !important;
	margin-top: 3px;
}
.form-grid .data-row.highlight {
    background-color: #ffeffd;
}
.grid-heading-row, .grid-heading-row:hover{
	background-color:#c9e7fb;
}
/* header child table */
.grid-heading-row .grid-row{
	background-color:#009EFF;
	color: #fff
}
.form-inner-toolbar, .list-filters {
	background-color:lightgoldenrodyellow;
}
.set-filters .btn-group .btn-default {
    background-color: #fff;
    border: 1px solid #8D99A6;
    color: #000;
}
.control-label, .grid-heading-row, .checkbox {
    color: #000;
}
/*serach field*/
#navbar-search{
	border: 1px solid #fff;
}

.form-control, .form-control:focus {
	border: 1px solid #000;
	color:#000
}
/*input*/
.input-with-feedback, .input-with-feedback:focus, .input-with-feedback:active {
	border: 1px solid #000;
	color:#000;
	background: #FFF;
}
.form-control.doctype, .form-control.doctype:focus {
	border: 1px solid #000;
	color:#000
}
.print-preview-select.input-sm.form-control{
	border: 1px solid #000;
}
/*buton get item*/
.btn.btn-default.btn-xs.btn-primary{
	background:#444bff;
}

.title-text	{
	color:#1341ec
}
.nav-pills > li > a:hover{
  background-color: #c7e3f8;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #0082e4;
  color:#FFF;
}
.h4	{font-weight:bold}
.module-section-link	{color:#000;}
.text-muted	{color:#000 !important}
.module-section {
    border-bottom: 1px solid #dee3e6;
}
/*refresh button*/
.btn.btn-secondary.btn-default.btn-sm.hidden-xs	{
	border: 1px solid #2ad20f !important;
	background-color:#2ad20f !important;
}
/*cancel button*/
.btn.btn-secondary.btn-default.btn-sm	{
	border: 1px solid red !important;
	background-color:red !important;
	color: #fff;
}
.btn-modal-close, .btn-modal-close:hover{
	background-color:#ff1e1e; color:#fff;
}
.edit-full, .edit-full:hover	{
	color: blue
}
@media (min-width: 767px) {
  .module-section:nth-child(odd) {
    background-color: #FFF;
  }
  .module-section:nth-child(even) {
    background-color: #f1f2f3;
  }
  .module-section:last-child {
    border-bottom: none;
  }
	.modal-dialog{
		width:760px
	}

}
/* garis tiap section break */
.form-section:not(:last-child), .form-inner-toolbar {
    border-bottom: 1px solid #CAE7F5;
}
/* background section break genap */
.shaded-section {
    background-color: #fff;
}
.list-item-container{
	background-color:#fff;
}
h6.uppercase, .h6.uppercase {
	color:#000;
}
.form-section .section-head .collapse-indicator {
    color: #000;
}
.pos-item {
	background-color:#FFF;
}
input[data-fieldtype="Currency"], input[data-fieldtype="Float"]{
	text-align: right;
}
